<footer>
    <div id="footerSup">
        <div id="réseauxSociaux">
            <h5>Suivez-nous sur : </h5>
            <p>
                <a href="https://www.facebook.com/" target="_blank"><img class="imgResauxSociaux" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" alt="logoFacebook"></a>
                <a href="https://www.youtube.com/" target="_blank"><img class="imgResauxSociaux" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/youtube-128.png" alt="logoYoutube"></a>
                <a href="https://fr.linkedin.com/" target="_blank"><img class="imgResauxSociaux" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-128.png" alt="logoLinkedin"></a>
                <a href="https://www.pinterest.fr/" target="_blank"><img class="imgResauxSociaux" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-128.png" alt="logoPinterest"></a>
            </p>
        </div>
        <div id="imgMeuble">
            <img class="imgFooter" src="https://images.radio-canada.ca/q_auto,w_960/v1/ici-info/16x9/jeux-video-retro-nes-snes-sega-genesis-nintendo-n64-playstation-gamecube.jpg" alt="manettesDeJeu">
        </div>
        <div id="navBot">
            <h5>Liens rapides</h5>
            <a href="{{ path('accueil') }}">Accueil |</a>
            <a href="{{ path('actualites') }}">Actualités |</a>
            <a href="{{ path('classement') }}">Classement |</a>
            <a href="{{ path('quiz') }}">Quiz |</a>
            <a href="{{ path('contact') }}">Contact |</a>
            <a href="{{ path('cgu') }}">CGU </a>
        </div>
    </div>
    <div id="footerBot">
        <p>
            <a href="{{ path('accueil') }}"><img class="logoNav" src="https://www.lvgstudios.com/wp-content/uploads/2018/05/LVG-logo.png" alt="Logo LVG">LovingVideoGames</a>
        </p>
        <p>
            Copyright &copy; 2020  |  <a href="{{ path('cgu') }}"> Tout droits réservés</a>  |  <a href="{{ path('cgu') }}">CGU</a>  |  <a href="{{ path('contact') }}">Contact</a>
        </p>
    </div>
</footer>
