<header>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ path('accueil') }}"><img class="logoNav" src="https://www.lvgstudios.com/wp-content/uploads/2018/05/LVG-logo.png" alt="Logo LVG">LovingVideoGames</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('actualites') }}">Actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('classement') }}">Classement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('quiz') }}">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

</header>

