{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/accueil.css') }}">{% endblock %}

{% block body %}
    
    <div class="contenu">

        <div id="messageAccueil">           
            <img class="imageAccueil" src="https://handeco.org/wp-content/uploads/2019/06/ob_443f93_confogaz-flash-info5534a921a99ab.png" alt="imgAccueil">
            <h2>Sur LovingVideoGames!</h2>
            <h4>Vous êtes sur une plateforme répertoriant un top 100 des meilleurs jeux vidéos toutes plateformes et toutes époques confondues ! </h4>
            <p>Le classement est fait à titre personnel et n'engage que l'auteur de l'article, vous êtes libre de poster vos avis ou votre propre classement dans la section <a href="{{ path('contact') }}"><span class="linkColorBlack">"Contact"</span></a></p>
            <h4>Vous trouverez également des articles sur les dernières actus gaming</h4>           
        </div>

        <div class="bandeauTitre">
            <h2>Les jeux les plus récents du classement : </h2>
        </div>

        <div class="classementAccueil">

            <div class="gridClassementAccueil">
                {% for game in games %}          
                    <div class="game {{ game.categories }}">
                        <a href="{{ path('classementDetails', { id: game.id }) }}"><img class="imageAccueil" src="{{ game.image }}" alt="{{ game.name }}"></a>               
                        <a href="{{ path('classementDetails', { id: game.id }) }}"><h4 class="nom">{{ game.name }}</h4> </a>
                    </div>
                {% endfor %}
            </div>
            <div class="valorBg">
                <a href="{{ path('classement') }}"><h4>Consulter le classement</h4></a>
            </div>
        </div>

        <div class="bandeauTitre">
            <h2>Lisez nos derniers articles : </h2>
        </div>
        <div id="actualitesAccueil">
            <div class="gridPageAccueil">
                {% for article in articles %}          
                    <div class="articles">
                        <a href="{{ path('actualitesDetails', { id: article.id }) }}"><img class="imageAccueil" src="{{ article.image }}" alt="{{ article.name }}"></a>    
                        <a href="{{ path('actualitesDetails', { id: article.id }) }}"><h5 class="nom">{{ article.name }}</h5> </a>                        
                    </div>
                {% endfor %}      
            </div>
            <div class="valorBg">
                <a href="{{ path('actualites') }}"><h4>Consulter les actus</h4></a>
            </div>
        </div>
    </div>

{% endblock %}