{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Actualités{% endblock %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/actualitesDetails.css') }}">{% endblock %}

{% block body %}

    <div class="contenu">

        <div class="article">
            <p class="image"><img src="{{ article.image }}" alt="{{ article.name }}"></p>
            <h3 class="nom">{{ article.name }}</h3> 
            <p class="description">{{ article.description }}</p>
    
            <h4><a href="{{ path('actualites') }}">retour aux actualités</a> | <a href="{{ path('accueil') }}">retour à l'accueil</a></h4>
        </div>
    </div>

{% endblock %}