{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Actualités{% endblock %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/actualites.css') }}">{% endblock %}

{% block body %}
    <div class="bgGlobal">
        <div class="contenu">

            <div id="messageActu">
                <img class="imageActu" src="https://cdn3.vectorstock.com/i/thumb-large/73/72/scary-hand-drawn-dead-emoji-vector-27157372.jpg" alt="imgActu">
                <h2>Profitez des dernières actus gaming</h2>           
            </div>
            <div id="actuGrid">
                {% for article in articles %}         
                    <div class="article">
                        <a href="{{ path('actualitesDetails', { id: article.id }) }}"><img class="imageActu" src="{{ article.image }}" alt="{{ article.name }}"></a>
                        <a href="{{ path('actualitesDetails', { id: article.id }) }}">
                            <h5 class="nom">{{ article.name }}</h5> 
                            <p>Parution le {{ article.date }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

