{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Classement{% endblock %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/classement.css') }}">{% endblock %}

{% block body %}

    <div class="contenu">

        <div id="messageClassement">
            <img class="imageClassement" src="https://static.thenounproject.com/png/1309344-200.png" alt="smileyClassement">
            <h2>Et voici notre classement !!</h2>           
        </div>

        <div id="classementGrid">

            <div id="classementFilters">
                <h5>Filtrez selon votre style : </h5>
                    {% for categorie in categories %}                    
                        <div> 
                            <input type="checkbox" id="{{ categorie.name }}" name="{{ categorie.name }}" checked>
                            <label for="scales">{{ categorie.name }}</label>
                        </div>
                    {% endfor %}
                </ul>
            </div>

            <div id="classementGames">
                {% for game in games %}         
                    <div class="game {{ game.categories }} show">
                        <a href="{{ path('classementDetails', { id: game.id }) }}"><img class="imageGame" src="{{ game.image }}" alt="{{ game.name }}"></a>
                        <a href="{{ path('classementDetails', { id: game.id }) }}"><h4 class="nom">{{ game.name }}</h4> </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    
{% endblock %}
{% block javascripts %}<script type="text/javascript" src="{{ asset('js/filter.js') }}"></script>{% endblock %}