{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Classement{% endblock %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/classementDetails.css') }}">{% endblock %}

{% block body %}

    <div class="contenu">
            <div class="game">
                
                <p class="image"><img src="{{ game.image }}" alt="{{ game.name }}"></p>
                <h2 class="nom">{{ game.name }}</h2> 
                <p>{{ game.date }}</p>
                <p class="description">{{ game.description }}</p>
            </div>
   
        <h4><a href="{{ path('classement') }}">retour au classement</a> | <a href="{{ path('accueil') }}">retour à l'accueil</a></h4></h4>
    </div>

{% endblock %}
