{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/contact.css') }}">{% endblock %}

{% block body %}

    <div class="contenu">

        <div class="contact">

            <div id="messageContact">           
                <img class="imageContact" src="https://i.pinimg.com/236x/7d/ad/c2/7dadc217ee5094aca81c8c1713dd6e1a--clipart-punk.jpg" alt="smiley">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <h2>Contactez-nous !</h2>
                <h4>Faites-nous part de vos remarques et de vos idées pour améliorer la qualité et le contenu de notre site</h4>          
            </div>

            <div id="formulaire">
                {{ form_start(form) }}
                    <div id="nom">{{ form_row(form.name)}}</div>
                    <div id="email">{{ form_row(form.email)}}</div>
                    <div id="textarea">{{ form_row(form.message)}}</div>
                    <div class="check-label-submit">
                        <div class="check-label">
                            <input type="checkbox" id="check" name="check" required>
                            <label for="check">J’ ai bien pris connaissance de la réglementation
                                concernant la protection des données <a href="{{ path('cgu') }}">CGU</a></label>
                        </div>
                        <button type="submit" id="submit" value="Envoyer">Envoyer</button>
                    </div>
                {{ form_end(form) }}
                
            </div>
        </div>

    </div>

{% endblock %}
