{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - quizz{% endblock %}

{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/quizz.css') }}">{% endblock %}

{% block body %}
    <balise id="hautdepage"></balise>

    <div class="bgGlobal">
        <div class="contenu">

            <div id="messageQuiz">
                <img class="imageQuiz" src="https://i.pinimg.com/originals/48/ab/0d/48ab0dcffc2bab19352648747aab0c91.jpg" alt="smileyClassement">
                <h2>Essayez donc un petit quizz</h2>           
            </div>

        
            <div class="blocQuestion show">
                <div id="qcmGrid">
                    {% for question in questions %}                    
                        <div class="questionDiv questionDivCustom">
                            <div class="question"> 
                                <img class="imageQcm" src="{{ question.image }}" alt="imgQuizz">
                                <h4 class="question">{{ question.question }}</h4> 
                            </div>

                            <div class="reponse">
                                <ul>
                                    <li class="{{ question.id }}">
                                        <input type="radio" value="1" name="{{ question.id }}">
                                        <label name="{{ question.id }}">{{ question.reponse1 }}</label>
                                    </li>
                                    <li class="{{ question.id }}">
                                        <input type="radio" value="2" name="{{ question.id }}">
                                        <label name="{{ question.id }}">{{ question.reponse2 }}</label>
                                    </li>
                                    <li class="{{ question.id }}">
                                        <input type="radio" value="3" name="{{ question.id }}">
                                        <label name="{{ question.id }}">{{ question.reponse3 }}</label>
                                    </li>
                                    <li class="{{ question.id }}">
                                        <input type="radio" value="4" name="{{ question.id }}">
                                        <label name="{{ question.id }}">{{ question.reponse4 }}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
            
            <div id="resultatQuizz" class="questionDivCustom">
                <a href="#hautdepage" id="btnResult" name="Resultats" onclick="results()">
                    <h4>Vous êtes sûr de vous? Alors on valide!!</h4>
                </a>
            </div>

            <div id="retourQuizz" class="questionDivCustom hide">
                <h4><a href="{{ path('quiz') }}">Nouvel essai?</a> | <a href="{{ path('accueil') }}">retour à l'accueil</a></h4>
            </div>
            
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function results(){
            var radios = $( "[type=radio]" );
            var valeur;
            var total = 0;
            for(var i = 0; i < radios.length; i++){
                if(radios[i].checked){
                    if (radios[i].value != 1){
                        radios[i].value = 0;
                    } else {
                        valeur = radios[i].value;
                        chiffre = parseInt(valeur)
                        total = total + chiffre;
                    }
                }
            }
            $('.blocQuestion').removeClass('show').addClass('hide');
            $('#retourQuizz').removeClass('hide').addClass('show');
            $('#resultatQuizz').removeClass('show').addClass('hide');
            if (total > 10) {
                $('h2').html("<h4>Vous avez réalisez un score de " + total + " sur 10! Tricheur!!</h4>")
            }
            if (total > 8 && total <= 10) {
                $('h2').html("<h4>Vous avez réalisez un score de " + total + " sur 10! Un excellent score !</h4>");
            }
            if (total > 6 && total <= 8) {
                $('h2').html("<h4>Vous avez réalisez un score de " + total + " sur 10! Bien, mais... pas parfait.</h4>");
            }
            if (total >= 4 && total < 6) {
                $('h2').html("<h4>Vous avez réalisez un score de " + total + " sur 10! Pas terrible... un autre essai ?</h4>");
            }
            if (total < 4) {
                $('h2').html("<h4>Vous avez réalisez un score de " + total + " sur 10! Il y a des gens qui ne font aucun effort...</h4>");
            }
        }

    </script>
{% endblock %}