.contenu a{
    color: white;
}
#messageAccueil{
    background-color: ivory;
    padding: 25px;
    text-align: center;
}
.imageAccueil{
    max-width: 75%;
}
.bandeauTitre{
    padding: 25px;
    text-align: center;
    background-color: #222;
    color: white;
}
.classementAccueil{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7760620e-3cf1-43d3-8b04-b2a6c3fb257f/d5rplqu-91d9f5a9-d5c6-451f-9564-a02fc485040c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNzc2MDYyMGUtM2NmMS00M2QzLThiMDQtYjJhNmMzZmIyNTdmXC9kNXJwbHF1LTkxZDlmNWE5LWQ1YzYtNDUxZi05NTY0LWEwMmZjNDg1MDQwYy5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.IUuImTGZitp0x5CPsr7__2bAmZ6Wllzi3WIPSMyX9do);
    /* https://img.wallpapersafari.com/desktop/1920/1080/98/6/IbB9RY.jpg */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 25px;
}
.gridClassementAccueil{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}
.game, .articles, .valorBg{
    text-align: center;
    margin: 25px;
    padding: 25px;
    background-color: #222;
    border: white solid 1px;
}
#actualitesAccueil{
    background: ivory;
    /* https://img.wallpapersafari.com/desktop/1920/1080/98/6/IbB9RY.jpg */
    padding: 25px;
    border: black solid 1px;
    text-align: center;
}
.gridPageAccueil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}  

/*-----------------------------------------------------*/
/*-------------------MEDIAQUERIES----------------------*/
/*-----------------------------------------------------*/

@media screen and (max-width: 750px) {

    .gridClassementAccueil{
        display: inline-block;
    }
    .gridPageAccueil{
        display: inline-block;
    }
}