.contenu a{
    color: black;
}
.bgGlobal{
    box-sizing: border-box;
    padding: auto 200px;
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/98/6/IbB9RY.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.imageActu{
    max-width: 75%;
}
#messageActu{
    text-align: center;
    padding: 25px;
    background-color: ivory;
    color: #222;
}
#messageActu > h2{
    padding: 25px;
    background-color:#222 ;
    color: ivory;
}
#actuGrid{
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #222;
}
.article{
    padding: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 25px;
    padding: 25px;
    background-color: ivory;
    border: white solid 1px;
}

/*-----------------------------------------------------*/
/*-------------------MEDIAQUERIES----------------------*/
/*-----------------------------------------------------*/
    
@media screen and (min-width: 750px) and (max-width: 1200px) {

    .article{
        display: inline-block;
    }
}

@media screen and (max-width: 750px) {

    #actuGrid{
        display: inline-block;
    }
    .article{
        display: inline-block;
    }
}