.contenu a{
    color: black;
}
.article{
    padding: 25px;
    text-align: center;
    padding: 25px;
}
.article > h4{
    padding: 25px;
    background-color: #222;
    color: ivory;
    border: white solid 1px;
}
.article > h4 a {
    color: ivory;
}
.description{
    text-align: justify;
}
