.contenu a{
    color: black;
}
.imageClassement{
    width: 220px;
}
#messageClassement{
    text-align: center;
    padding: 25px;
    text-align: center;
    background-color: ivory;
    color: #222;
}
#messageClassement > h2{
    padding: 25px;
    background-color:#222 ;
    color: ivory;
}
#classementGrid{
    padding: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}
#classementFilters{
    border: black solid 1px;
    text-align: left;
    padding: 25px;
    grid-area: 1 / 1 / 2 / 2;
}
#classementGames{
    padding: 25px;
    grid-area: 1 / 2 / 2 / 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px
}
img{
    width:100%;
}
.show{
    display: block;
    animation: fade-in 1s;
}
.hide{
    display: none;
    animation: fade-out 1s;
}
  
/*-----------------------------------------------------*/
/*---------------------KEYFRAMES-----------------------*/
/*-----------------------------------------------------*/

@keyframes fade-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@keyframes fade-out {
from {
    opacity: 1;
}
to {
    opacity: 0;
}
}

/*-----------------------------------------------------*/
/*-------------------MEDIAQUERIES----------------------*/
/*-----------------------------------------------------*/

@media screen and (max-width: 750px) {

    #classementGrid{
        display: inline-block;
    }
    #classementGames{
        display: inline-block;
    }
}