.contenu{
    text-align: center;
}
.contenu a{
    color: ivory;
}
.game{
    padding: 25px;
    text-align: center;
    padding: 25px;
}
h4{
    padding: 25px;
    background-color: #222;
    color: ivory;
    border: white solid 1px;
}

.description{
    text-align: justify;
}
