.contact{
    text-align: center;
    padding: 25px;
}
#messageContact{
    text-align: center;
    padding: 25px;
    background-color: ivory;
    color: #222;
}
#messageContact > h2{
    padding: 25px;
    background-color:#222 ;
    color: ivory;
}
#formulaire{
    padding: 25px;
    color: ivory;
    border: white solid 1px;
    background-color: #222;
}
#nom{
    width: 100%;
}
#nom div, #email div, #textarea div {
    display: flex;
    flex-direction: column;
}
label {
    margin: 5px;
} 
input {
    height: 3.5vh;
    margin-bottom: 1vh;
    font-size: 1.5vw;
}
#contact_message {
    height: 20vh;
    margin-bottom: 1vh;
    font-size: 1.5vw;
    resize: none;
}
#textarea li {
    list-style-type: none;
    padding: 5px;
    background-color: var(--blanc);
    color: red;
    font-size: 1.5vw;
    font-family: LatoBold;
    border: 2px solid red;
}
#textarea li:first-child {
    display: none;
}
.check-label-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.check-label-submit label {
    font-size: 1vw;
}
.check-label {
    display: flex;
    align-items: center;
    width: 70%;
}
button[type="submit"] {
    padding: 0.5rem 4rem;
    font-weight: 100;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
}