/*-----------------------------------------------------------------------*/
/*------------------------     General       ----------------------------*/
/*-----------------------------------------------------------------------*/

*{
    box-sizing: border-box;
    margin: 0;
}
nav, footer{
    padding: 25px;
    width: 100%;
    background-color: #222;
    color: white;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.linkColorBlack{
    text-decoration: none;
    color: black;
}
#cgu{
    text-align: justify;
    padding: 25px;
}
.contenu{
    padding-top: 75px;
}

/*-----------------------------------------------------------------------*/
/*------------------------     General       ----------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*------------------------     Navbar       -----------------------------*/
/*-----------------------------------------------------------------------*/

.logoNav{
    margin-right: 20px;
    max-width: 50px;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 5px black;
}

.navbar, footer{
    text-align: center;
}
.navbar{
    position: fixed;
}

.nav-item{
    margin-left: 25px;
    margin-top: 5px;
    color: white;
    padding: 5px;
    box-shadow: 5px 5px 5px black;
    border: white solid 1px;
}

/*-----------------------------------------------------------------------*/
/*------------------------     Navbar       -----------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*------------------------     Footer       -----------------------------*/
/*-----------------------------------------------------------------------*/

.imgFooter{
    width: 100%;
}
.imgResauxSociaux{
    max-width: 50px;
    margin: 10px;
}
#footerSup{ 
    background-color: #564d4d;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 10px;
}      
#réseauxSociaux { 
    margin: auto;
    grid-area: 1 / 1 / 2 / 2; 
}
#imgMeuble { 
    grid-area: 1 / 2 / 2 / 3; 
}
#navBot { 
    margin: auto;
    grid-area: 1 / 3 / 2 / 4; 
}

/*-----------------------------------------------------*/
/*-------------------MEDIAQUERIES----------------------*/
/*-----------------------------------------------------*/

@media screen and (min-width: 400px) and (max-width: 750px) {
    #footerSup{ 
        display: inline-block;
    }      
}

@media screen and (max-width: 400px) {
    #footerSup{ 
        display: inline-block;
    }  
}

/*-----------------------------------------------------------------------*/
/*------------------------     Footer       -----------------------------*/
/*-----------------------------------------------------------------------*/

