.contenu a{
    text-align: center;
}
.bgGlobal{
    box-sizing: border-box;
    padding: auto 200px;
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/98/6/IbB9RY.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.imageQuiz{
    margin: auto;
    max-width: 240px;
}
#messageQuiz{
    text-align: center;
    padding: 25px;
    background-color: ivory;
    color: #222;
}
#messageQuiz > h2{
    padding: 25px;
    background-color:#222 ;
    color: ivory;
}

#qcmGrid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.questionDivCustom{
    text-align: center;
    background-color: #222;
    margin: 25px;
    padding: 50px;
    color: ivory;
    border: white solid 1px;
}
.imageQcm{
    max-width: 100%;
    max-height: 200px;
}
h4{
    padding: 25px;
    background-color: #222;
    color: ivory;
    border: white solid 1px;
}
.reponse ul {
    margin-left: 25px;
    text-align: justify;
}
#btnResult{
    padding: 25px;
    font-size: large;
}
.show{
    display: block;
}
.hide{
    display: none;
}

/*-----------------------------------------------------*/
/*-------------------MEDIAQUERIES----------------------*/
/*-----------------------------------------------------*/

@media screen and (max-width: 750px) {

    #qcmGrid{
        display: block;
    }
}